@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600&display=swap');

.wrapper {
	display: flex;
	height: 100vh;
	background: #CCCCCC;
}

.sidebar {
	display: flex;
	flex-direction: column;
	flex: 1;
}
.navbar {
	width: 400px;
	background: #383838;
	font-family: 'Open Sans', sans-serif;
}

.navbar-list {
	padding: 0 30px;
}

.navbar-item {
	display: block;
	border-bottom: 2px solid rgba(242, 242, 242, 0.1);;
}

.navbar-item:last-child {
	border-bottom: none;
}

.navbar-item a {
	display: flex;
	align-items: center;
	padding: 0 15px;
	height: 70px;
	width: 340px;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	text-decoration: none;
	color: #B7B7B7;
	transition: .3s;
}

.navbar-item a:hover, .navbar-item--active a {
	color: white;
	background-color: rgba(255, 255, 255, 0.05);
	transition: .3s;
}

.logo {
	margin: 52px auto;
	text-align: center;
	font-family: "Bebas Neue", sans-serif;
	font-size: 96px;
	line-height: 96px;
	color: #43B0ED;
}

.header {
	height: 88px;
	background: white;
}

.content {
	flex: 1;
	display: flex;
	overflow: auto;
}